@model BeCoreApp.Application.ViewModels.System.NotifyViewModel
@using BeCoreApp.Data.Enums
@{
    ViewData["Title"] = "Notification";
}
@section Styles{
    <link href="~/admin-app/controllers/notify/index.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts{
    <script src="~/admin-app/controllers/notify/index.js"></script>
    <script>
        var notifyObj = new NotifyController();
        notifyObj.initialize();
    </script>
}

<div class="app-content icon-content">
    <div class="section">
        <!-- Page-header opened -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="ti-package mr-1"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </div>
        <!-- Page-header closed -->
        <!-- row opened -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div id="formKYC" class="mb-5">
                                    <div class="card box-shadow-0 mb-xl-0">
                                        <div class="card-body p-6 about-con pabout">
                                            <div class="form-group">
                                                <input type="hidden" id="hidId" />
                                                <label class="form-control-label">Title</label>
                                                <input type="text" id="txtName" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="txtContent" class="form-control-label">Content</label>
                                                <textarea id="txtContent" rows="20" class="form-control"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked="checked" id="ckStatus">
                                                    <span class="custom-control-label">Status</span>
                                                </label>
                                            </div>

                                            <div class="form-footer mt-2 text-center">
                                                <a href="#" class="btn btn-success" id="btnUpdate">Update Notification</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
