@model ResetPasswordViewModel
@{
    Layout = "_LayoutAccount";
}

@section Styles{
    <link href="~/admin-app/controllers/account/reset-password.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/admin-app/controllers/account/reset-password.js" asp-append-version="true"></script>
    <script>
        var resetPassword = new ResetPasswordController();
        resetPassword.initialize();
    </script>
}

<div class="page">
    <div class="">
        <div class="container">
            <div class="">
                <div class="col-xl-4 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <form class="m-login__form m-form">
                                    <div class="card-body p-6 about-con pabout">
                                        <div class="text-center">
                                            <img src="~/client-side/icd/img/ICDlogo3.png" style="height:70px;" class="header-brand-img mx-auto text-center mb-5" />
                                        </div>
                                        <div class="card-title text-center  mb-4">RESET PASSWORD</div>
                                        @Html.AntiForgeryToken()

                                        <input type="hidden" value="@Model.Code" id="hdCode">
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="txtEmail" name="txtEmail" placeholder="Email">
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" type="password" id="txtPassword" name="txtPassword" placeholder="New Password">
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" type="password" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="Confirm Password">
                                        </div>

                                        <div class="form-footer mt-1 text-center">
                                            <a class="btn btn-success-ct" id="btnResetPassword"><i class="fa fa-recycle"></i> Reset Password</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
