@{
    Layout = "_LayoutAccount";
}
<div class="page">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 justify-content-center mx-auto text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <form class="m-login__form m-form">
                                    <div class="card-body p-6 about-con pabout">
                                        <div class="text-center">
                                            <img src="~/client-side/icd/img/ICDlogo3.png" style="height:70px;" class="header-brand-img mx-auto text-center mb-5" />
                                        </div>
                                        <div class="card-title text-center mb-4">RESET PASSWORD</div>

                                        <div class="text-center fs-15 mt-3">
                                            Your password has been reset. <br />
                                            Please <a href="/admin/account/login" class="text-primary"><strong>click here to login</strong></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>