@model WalletViewModel
@using BeCoreApp.Utilities.Constants
@{
    ViewData["Title"] = "Wallet";

}
@section Scripts{
    <script src="~/lib/jquery-qrcode-master/src/jquery.qrcode.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-qrcode-master/src/qrcode.js" asp-append-version="true"></script>
    @*<script src="~/admin-app/controllers/wallet/index.js" asp-append-version="true"></script>
    <script>
        var walletObj = new WalletController();
        walletObj.initialize();
    </script>*@
}

@section Styles{
    <link href="~/admin-app/controllers/wallet/index.css" rel="stylesheet" asp-append-version="true" />
}

<div class="app-content icon-content">
    <div class="section">

        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="ti-package mr-1"></i> Overview</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </div>
        <div class="row">
            
            
        </div>
    </div>
</div>

<style>
    .numberFormat {
        font-weight: bold
    }
</style>

