@{
    ViewData["Title"] = "Blog";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/admin-app/controllers/blog/index.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/admin-app/controllers/blog/index.js"></script>
    <script>
        var blogObj = new BlogController();
        blogObj.initialize();
    </script>
}

<div class="app-content icon-content">
    <div class="section">
        <!-- Page-header opened -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="ti-package mr-1"></i> Overview</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </div>
        <!-- Page-header closed -->
        <!-- row opened -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive product-datatable">
                            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div id="example_filter" class="dataTables_filter">
                                            <label>Search:<input type="search" id="txt-search-keyword" class="form-control form-control-sm" placeholder="" aria-controls="example"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div id="example_filter" class="dataTables_filter">
                                            <label>
                                                Category: <input id="ddlSearchBlogCategoryId" class="form-control form-control-sm" placeholder="Loại bài viết...">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="dataTables_component">
                                            <button id="btn-create" type="button" class="btn btn-sm btn-success " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"></i> Create</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Image</th>
                                                    <th>Tags</th>
                                                    <th>Menu</th>
                                                    <th>Status</th>
                                                    <th>Function</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl-content"></tbody>
                                        </table>
                                    </div>
                                </div>
                                @await Component.InvokeAsync("Paging")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{{Image}}}</td>
        <td>{{{Tags}}}</td>
        <td width="200">{{BlogCategoryName}}</td>
        <td width="90">{{{Status}}}</td>
        <td width="90">
            <a href="#" data-id="{{Id}}" class="btn-edit btn btn-warning btn-sm mb-2 mb-xl-0 text-white" data-toggle="tooltip" data-original-title="Cập Nhật"><i class="fa fa-edit"></i></a>
            <a href="#" data-id="{{Id}}" class="btn-delete btn btn-danger btn-sm mb-xl-0 text-white" data-toggle="tooltip" data-original-title="Xóa"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
</script>
@Html.Partial("_AddEditModal")