
<footer class="footer-main icon-footer">
    <div class="container">
        <div class="col-lg-12 col-sm-12  mt-2 mb-2 text-center">
            License © 2021 <a href="#" class="fs-14" style="color: #e8ff00 !important;">ICD</a>. Designed by <a href="#" class="fs-14" style="color: #e8ff00 !important;">Team IC DeFi</a> All rights reserved.
        </div>
    </div>
</footer>