<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="IC DEFI" name="description">
    <meta content="IC DEFI" name="author">
    <meta name="keywords" content="IC DEFI">

    <link rel="icon" href="~/client-side/icd/img/ICDLogo1.png">

    <!-- Title -->
    <title>IC DEFI</title>

    <!-- Bootstrap css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/bootstrap-4.1.3/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/css/style.css" rel="stylesheet" />
    <link href="~/admin-side/dashlot-admin/HTML/assets/css/dark-boxed.css" rel="stylesheet" />

    <!-- Default css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/css/default.css" rel="stylesheet" />

    <!-- Sweet-alert css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />

    <!-- Sidemenu css -->
    <link rel="stylesheet" href="~/admin-side/dashlot-admin/HTML/assets/plugins/sidemenu/sidemenu.css">

    <!-- owl-carousel css-->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

    <!--Bootstrap-daterangepicker css-->
    <link rel="stylesheet" href="~/admin-side/dashlot-admin/HTML/assets/plugins/bootstrap-daterangepicker/daterangepicker.css">

    <!--Bootstrap-datepicker css-->
    <link rel="stylesheet" href="~/admin-side/dashlot-admin/HTML/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css">

    <!-- Sidemenu-responsive  css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/sidemenu-responsive-tabs/css/sidemenu-responsive-tabs.css" rel="stylesheet">

    <!-- P-scroll css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/p-scroll/p-scroll.css" rel="stylesheet" type="text/css">

    <!--Font icons css-->
    <link href="~/admin-side/dashlot-admin/HTML/assets/css/icons.css" rel="stylesheet">

    <!-- Notifications css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />

    <!-- Rightsidebar css -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

    <!-- Nice-select css  -->
    <link href="~/admin-side/dashlot-admin/HTML/assets/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet" />

    <!-- Color-palette css-->
    <link rel="stylesheet" href="~/admin-side/dashlot-admin/HTML/assets/css/skins.css" />

    <!-- Style-admin css-->
    <link rel="stylesheet" href="~/admin-side/dashlot-admin/HTML/assets/css/style-admin.css" />

    @RenderSection("Styles", required: false)
</head>
<body class="app h-100vh dark-mode" 
      @*style="background:url(/client-side/dolphin/assets/img/hero-bg-v2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;"*@>

    <!-- Loader -->
    <div id="loading">
        <img src="~/client-side/icd/img/icdbg.png" class="loader-img" alt="Loader">
    </div>

    <!-- Page opened -->
    @RenderBody()

    <!-- Page closed -->
    <!-- Dashboard js -->
    <script src="~/admin-side/dashlot-admin/HTML/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/bootstrap-4.1.3/popper.min.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/bootstrap-4.1.3/js/bootstrap.min.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/js/vendors/circle-progress.min.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Moment js-->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/moment/moment.min.js"></script>

    <!-- Custom scroll bar js-->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!--owl-carousel js-->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/owl-carousel/owl.carousel.js"></script>

    <!-- Bootstrap-daterangepicker js -->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Bootstrap-datepicker js -->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>


    <!-- Sweet-alert js  -->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/js/sweet-alert.js"></script>

    <!--Counters -->
    @*<script src="~/admin-side/dashlot-admin/HTML/assets/plugins/jquery-countdown/countdown.js"></script>
        <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/jquery-countdown/jquery.plugin.min.js"></script>
        <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/jquery-countdown/jquery.countdown.js"></script>*@

    <!-- Notifications js -->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/notify/js/rainbow.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/notify/js/jquery.growl.js"></script>

    <!-- Custom js-->
    <script src="~/admin-side/dashlot-admin/HTML/assets/js/custom.js"></script>


    <script src="~/admin-app/shared/be.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>

