<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">
            Hệ Sinh Thái
        </h4>
        @*<small class="text-muted mt-0">Crypto-currencies dashboard template.</small>*@
    </div>
    <div class="page-rightheader">
        <div class="ml-5 ml-auto mt-3 mt-xl-0 d-flex">
            <a href="/film-bc.6.html" target="_blank" class="btn btn-primary btn-sm mr-1 mb-1">FILM<i class="fa fa-film fa-spin ml-2"></i> </a>
            <a href="/giao-duc-bc.18.html" target="_blank" class="btn btn-secondary btn-sm mr-1 mb-1">GIÁO DỤC<i class="fa fa-book fa-spin ml-2"></i> </a>
            <a href="/san-pham-bc.20.html" target="_blank" class="btn btn-success btn-sm mr-1 mb-1"> SẢN PHẨM<i class="fa fa-shopping-cart fa-spin ml-2"></i></a>
            <a href="/bat-dong-san-bc.22.html" target="_blank" class="btn btn-info btn-sm mr-1 mb-1">BĐS<i class="fa fa-home fa-spin ml-2"></i> </a>
            <a href="/tai-chinh-bc.28.html" target="_blank" class="btn btn-warning btn-sm mr-1 mb-1">TÀI CHÍNH<i class="fa fa-money fa-spin ml-2"></i> </a>
            <a href="/tro-choi-bc.29.html" target="_blank" class="btn btn-danger btn-sm mr-1 mb-1">TRÒ CHƠI<i class="fa fa-gamepad fa-spin ml-2"></i> </a>
            <a href="/kinh-te-chia-se-bc.30.html" target="_blank" class="btn btn-dark btn-sm mr-1 mb-1">KINH TẾ CHIA SẺ<i class="fa fa-recycle fa-spin ml-2"></i> </a>
            <a href="/dich-vu-bc.32.html" target="_blank" class="btn btn-azure btn-sm mb-1">DỊCH VỤ<i class="fa fa-ge fa-spin ml-2"></i> </a>
        </div>
    </div>
</div>