<div class="sidebar sidebar-right sidebar-animate">
    <div class="p-3">
        <a href="#" class="text-right float-right" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x"></i></a>
    </div>
    <div class="tab-menu-heading  siderbar-tabs border-0">
        <div class="tabs-menu ">
            <ul class="nav panel-tabs">
                <li class=""><a href="#tab" class="active show" data-toggle="tab">Profile</a></li>
                <li class=""><a href="#tab1" data-toggle="tab" class="">Friends</a></li>
                <li><a href="#tab2" data-toggle="tab" class="">Activity</a></li>
                <li><a href="#tab3" data-toggle="tab" class="">Todo</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
        <div class="tab-content border-top">
            <div class="tab-pane active" id="tab">
                <div class="card-body p-0">
                    <div class="header-user text-center mt-4 pb-4">
                        <span class="avatar avatar-xxl brround"><img src="~/admin-side/dashlot-admin/HTML/assets/images/users/user.png" alt="Profile-img" class="avatar avatar-xxl brround"></span>
                        <div class="dropdown-item text-center font-weight-semibold user h3 mb-0">Jonathan Mills</div>
                        <small>App Developer</small>
                        <div class="card-body mb-6">
                            <div class="form-group ">
                                <label class="form-label  text-left">Offline/Online</label>
                                <select class="form-control mb-4 nice-select " data-placeholder="Choose one">
                                    <option value="1">Online</option>
                                    <option value="2">Offline</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label class="form-label text-left">Website</label>
                                <select class="form-control nice-select " data-placeholder="Choose one">
                                    <option value="1">Spruko.com</option>
                                    <option value="2">sprukosoft.com</option>
                                    <option value="3">sprukotechnologies.com</option>
                                    <option value="4">sprukoinfo.com</option>
                                    <option value="5">sprukotech.com</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a class="dropdown-item  border-top" href="#">
                        <i class="dropdown-icon mdi mdi-account-edit"></i> Edit Profile
                    </a>
                    <a class="dropdown-item  border-top" href="#">
                        <i class="dropdown-icon mdi mdi-account-outline"></i> Spruko technologies
                    </a>
                    <a class="dropdown-item border-top" href="#">
                        <i class="dropdown-icon  mdi mdi-account-plus"></i> Add Another Account
                    </a>
                    <a class="dropdown-item  border-top" href="#">
                        <i class="dropdown-icon mdi mdi-comment-check-outline"></i> Message
                    </a>
                    <a class="dropdown-item  border-top" href="#">
                        <i class="dropdown-icon zmdi zmdi-pin-help"></i> Need Help?
                    </a>
                    <div class="card-body border-top">
                        <h4>Gallery</h4>
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="avatar-list">
                                    <ul>
                                        <li><a href="#" class="avatar avatar-lg cover-image" data-image-src="/admin-side/dashlot-admin/HTML/assets/images/users/5.jpg"></a></li>
                                        <li><a href="#" class="avatar avatar-lg cover-image" data-image-src="/admin-side/dashlot-admin/HTML/assets/images/photos/2.jpg"></a></li>
                                        <li><a href="#" class="avatar avatar-lg cover-image" data-image-src="/admin-side/dashlot-admin/HTML/assets/images/photos/3.jpg"></a></li>
                                        <li><a href="#" class="avatar avatar-lg cover-image" data-image-src="/admin-side/dashlot-admin/HTML/assets/images/photos/5.jpg"></a></li>
                                        <li><a href="#" class="avatar avatar-lg cover-image" data-image-src="/admin-side/dashlot-admin/HTML/assets/images/photos/3.jpg"></a></li>
                                        <li><a href="#" class="avatar avatar-lg cover-image" data-image-src="/admin-side/dashlot-admin/HTML/assets/images/photos/15.jpg"></a></li>
                                        <li><a href="#" class="avatar avatar-lg cover-image" data-image-src="/admin-side/dashlot-admin/HTML/assets/images/photos/16.jpg"></a></li>
                                        <li><a href="#" class="avatar avatar-lg cover-image">+48</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top border-bottom">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a class="" href=""><i class="dropdown-icon mdi  mdi-message-outline fs-20 m-0 leading-tight"></i></a>
                                <div>Inbox</div>
                            </div>
                            <div class="col-4 text-center">
                                <a class="" href=""><i class="dropdown-icon mdi mdi-tune fs-20 m-0 leading-tight"></i></a>
                                <div>Settings</div>
                            </div>
                            <div class="col-4 text-center">
                                <a class="btn btn-secondary-light" href="/Admin/Account/Logout"><i class="dropdown-icon mdi mdi-logout-variant fs-20 m-0 leading-tight"></i></a>
                                <div>Sign out</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab1">
                <div class="chat">
                    <div class="contacts_card">
                        <div class="input-group mb-0 p-3">
                            <input type="text" placeholder="Search..." class="form-control search">
                            <div class="input-group-prepend mr-0">
                                <span class="input-group-text  search_btn  btn-secondary"><i class="fa fa-search text-white"></i></span>
                            </div>
                        </div>
                        <ul class="contacts mb-0">
                            <li class="active">
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/12.jpg" class="rounded-circle user_img" alt="img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Maryam Naz</h5>
                                        <small class="text-muted">is online</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>01-02-2019</small></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/user.png" class="rounded-circle user_img" alt="img">
                                        <span class=" online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Sahar Darya</h5>
                                        <small class="text-muted">left 7 mins ago</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>01-02-2019</small></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/5.jpg" class="rounded-circle user_img" alt="img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Maryam Naz</h5>
                                        <small class="text-muted">online</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>01-02-2019</small></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/7.jpg" class="rounded-circle user_img" alt="img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Yolduz Rafi</h5>
                                        <small class="text-muted">online</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>02-02-2019</small></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/8.jpg" class="rounded-circle user_img" alt="img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Nargis Hawa</h5>
                                        <small class="text-muted">30 mins ago</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>02-02-2019</small></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/3.jpg" class="rounded-circle user_img" alt="img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Khadija Mehr</h5>
                                        <small class="text-muted">50 mins ago</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>03-02-2019</small></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/14.jpg" class="rounded-circle user_img" alt="img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Petey Cruiser</h5>
                                        <small class="text-muted">1hr ago</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>03-02-2019</small></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight w-100">
                                    <div class="img_cont">
                                        <img src="~/admin-side/dashlot-admin/HTML/assets/images/users/11.jpg" class="rounded-circle user_img" alt="img">
                                    </div>
                                    <div class="user_info">
                                        <h5 class="mt-1 mb-1">Khadija Mehr</h5>
                                        <small class="text-muted">2hr ago</small>
                                    </div>
                                    <div class="float-right text-right ml-auto mt-auto mb-auto"><small>03-02-2019</small></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="list d-flex align-items-center border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-primary brround avatar-md">CH</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>New Websites is Created</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">30 mins ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-danger brround avatar-md">N</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>Prepare For the Next Project</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">2 hours ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-info brround avatar-md">S</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>Decide the live Discussion Time</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">3 hours ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-warning brround avatar-md">K</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>Team Review meeting</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">4 hours ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-success brround avatar-md">R</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">1 days ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center  border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-pink brround avatar-md">MS</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">1 days ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-purple brround avatar-md">L</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">45 mintues ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center border-bottom p-4">
                    <div class="">
                        <span class="avatar bg-primary brround avatar-md">CH</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>New Websites is Created</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">30 mins ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list d-flex align-items-center p-4">
                    <div class="">
                        <span class="avatar bg-blue brround avatar-md">U</span>
                    </div>
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 d-flex">
                            <b>Prepare for Presentation</b>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-clock text-muted mr-1"></i>
                                <small class="text-muted ml-auto">2 days ago</small>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="">
                    <div class="d-flex p-3">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
                            <span class="custom-control-label">Do Even More..</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2" checked="">
                            <span class="custom-control-label">Find an idea.</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3" checked="">
                            <span class="custom-control-label">Hangout with friends</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox4" value="option4">
                            <span class="custom-control-label">Do Something else</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox5" value="option5">
                            <span class="custom-control-label">Eat healthy, Eat Fresh..</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox6" value="option6" checked="">
                            <span class="custom-control-label">Finsh something more..</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox7" value="option7" checked="">
                            <span class="custom-control-label">Do something more</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox8" value="option8">
                            <span class="custom-control-label">Updated more files</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox9" value="option9">
                            <span class="custom-control-label">System updated</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="d-flex p-3 border-top border-bottom">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox10" value="option10">
                            <span class="custom-control-label">Settings Changings...</span>
                        </label>
                        <span class="ml-auto">
                            <a href="#"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                            <a href="#"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                        </span>
                    </div>
                    <div class="text-center pt-5">
                        <a href="#" class="btn btn-primary">Add more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>