.select2-container {
    width: 100% !important;
}


@media (max-width: 768px) {

    .m-grid__item.m-grid__item--fluid.m-grid.m-grid--center.m-grid--hor.m-grid__item--order-tablet-and-mobile-1.m-login__content {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .m-login.m-login--1 .m-login__aside {
        width: 100%;
        padding: 2rem 1rem;
    }
}

.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control {
    padding: 1rem 5px;
}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form {
    color: #5e5e5e;
}
    .m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control {
        color: #6e6e6e;
        /*background: #ffffff;*/
        border-radius: 40px;
        border: none;
        padding: 1rem 1rem;
    }
.form-control.m-input--air {
    box-shadow: none !important;
}
