<div id="modal-add-edit" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title badge badge-secondary-light" id="exampleModalLabel">
                    Add or Update menu item
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmMaintainance">
                    <input type="hidden" id="hideId" />
                    <input type="hidden" id="txtSortOrder" />

                    <div class="form-group">
                        <label for="txtName" class="form-control-label">Name</label>
                        <input type="text" name="txtName" class="form-control" id="txtName">
                    </div>

                    <div class="form-group">
                        <label for="ddlFunctionId" class="form-control-label">Function</label>
                        <input id="ddlFunctionId" class="form-control" name="ddlFunctionId" value="">
                    </div>

                    <div class="form-group">
                        <label for="txtParentName" class="form-control-label">Parent Name</label>
                        <input type="text" readonly name="txtParentName" class="form-control" id="txtParentName">
                    </div>

                    <div class="form-group">
                        <label for="txtParentId" class="form-control-label">Parent ID</label>
                        <input type="text" readonly name="txtParentId" class="form-control" id="txtParentId">
                    </div>

                    <div class="form-group">
                        <label for="txtIconCss" class="form-control-label">Icon Css</label>
                        <input type="text" name="txtIconCss" class="form-control" id="txtIconCss">
                    </div>

                    <div class="form-group">
                        <label for="txtUrl" class="form-control-label">Url</label>
                        <input type="text" readonly name="txtUrl" class="form-control" id="txtUrl">
                    </div>

                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked="checked" id="ckStatus">
                            <span class="custom-control-label">Status</span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSave" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>