<div id="modal-add-edit" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title badge badge-secondary-light" id="exampleModalLabel">
                    Add or Update role
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">

                        <div class="form-group">
                            <input type="hidden" id="hidIdM" value="0" />
                            <label for="txtName" class="form-control-label">Role name</label>
                            <input type="text" name="txtName" class="form-control m-input m-input--air" id="txtName">
                        </div>

                        <div class="form-group">
                            <label for="txtDescription" class="form-control-label">Description</label>
                            <textarea rows="4" name="txtDescription" class="form-control m-input m-input--air" id="txtDescription"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>