<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="" class="logo">
                    <img class="logo__img--big" src="~/client-side/icd/img/ICDlogo3.png" alt="">
                    <!--<div class="logo__title">Cryptoland</div>-->
                </a>
                <div class="copyright">© 2021, IC DEFI </div>
            </div>
            <div class="col-lg-8">
                <div class="social-block">
                    <div class="social-block__title">
                        Stay connected:
                    </div>

                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="https://github.com/ICDeFi/ICDeFiCore" target="_blank" class="social-list__link">
                                <i class="fa fa-github fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.facebook.com/icdefi.org" target="_blank" class="social-list__link">
                                <i class="fa fa-facebook fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://twitter.com/ic_defi" target="_blank" class="social-list__link">
                                <i class="fa fa-twitter fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.reddit.com/r/ICDeFi_Crypto/" target="_blank" class="social-list__link">
                                <i class="fa fa-reddit fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://medium.com/@@icdefi" target="_blank" class="social-list__link">
                                <i class="fa fa-medium fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://t.me/joinchat/4CxzKmewFko0ODll" target="_blank" class="social-list__link">
                                <i class="fa fa-telegram fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://t.me/icdefi" target="_blank" class="social-list__link">
                                <i class="fa fa-telegram fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/company/icdefi" target="_blank" class="social-list__link">
                                <i class="fa fa-linkedin fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.youtube.com/channel/UCHefl6x6Dc3hEiIRwPH-oXQ" target="_blank" class="social-list__link">
                                <i class="fa fa-youtube-play fa-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            @*<div class="col-lg-4">
                <form action="#" class="form subscribe" id="subscribe-form">
                    <div class="form__title">Subscribe</div>
                    <div class="form__row">
                        <input type="email" name="subscribe_email" class="form__input" placeholder="Email">
                        <button class="form__btn btn btn--uppercase btn--orange btn--small"><span>Send</span></button>
                    </div>
                </form>
            </div>*@
        </div>
    </div>
</footer>