@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div style="padding: 30px 20px 30px 20px;">
        <div style="display:block">
            <div style="text-align:center;">
                <h3 style="font-size: 35px;color: #7cb342;">Complete forgetting your password</h3>
                <div style="color:black; font-size:17px;font-family:Tahoma;margin-bottom:10px">
                    You asked to reset password at
                    <a href="http://icdefi.org" style="font-weight:600; text-decoration: underline;">icdefi.org</a>
                </div>
                <div style="color: #565656;font-size: 14px;font-family:Tahoma;margin-bottom:40px">
                    <strong>To reset your password, please click the following link:</strong>
                </div>
                <div style="color: #565656;font-size: 14px;font-family:Tahoma;margin-bottom:10px">
                    <a href="@Model" style="text-decoration: none;
    padding: 15px;border-radius: 25px;padding-right: 25px;padding-left: 25px;
    font-size: 17px;color: white;border-bottom: 0px solid #8bc34a;
    background: linear-gradient(45deg, #0e8e13, #8bc34a);box-shadow: -1px 1px 3px #8bc34a;">
                        Reset your password
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>