<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
            <div class="dataTables_length" id="example_length">
                <label>
                    Show <select id="ddl-show-page" name="example_length" aria-controls="example" class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries of <span id="lbl-total-records"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_info">
            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                <ul class="pagination" id="paginationUL"></ul>
            </div>
        </div>
        
    </div>
</div>