@using Microsoft.AspNetCore.Authorization
@using BeCoreApp.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Thành Viên";
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://rawgit.com/adamjimenez/jstree-table/master/jstreetable.js"></script>
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>

    <script src="~/admin-app/controllers/user/indextree.js" asp-append-version="true"></script>
    <script>
        var customerTreeObj = new CustomerTreeController();
        customerTreeObj.initialize();
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}

<div class="app-content icon-content">
    <div class="section">
        <!-- Page-header opened -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="ti-package mr-1"></i> Trang Chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </div>
        <!-- Page-header closed -->
        <!-- row opened -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive product-datatable">
                            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12" style="margin-top:15px;">
                                        <div id="jstree"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

